
$link-color: #00a3e1;
$link-color-hover: #005575;
$button-bg-color: #00a3e1;
$button-hover-bg-color: #005575;
$button-text-color: #FFF;
$button-progress-indicator-color: #FFF;

$button-text-color: #FFF;

$comment-separator-color: #e6e6e6;
$comment-head-height: 40px;
$comment-datetime-color: #9b9b9b;

$comment-actions-separator-color: #9b9b9b;
$comment-actions-text-color: #9b9b9b;

$progress-circular-color: #00a3e1;


$message-success-border-color: #d6e9c6;
$message-success-bg-color: #dff0d8;
$message-success-text-color: #3c763d;

$message-error-border-color: #ebccd1;
$message-error-bg-color: #f2dede;
$message-error-text-color: #a94442;