
@import "variables";
@import "mixins";
@import "modules/modal";

.csui {
    @import "modules/normalize";
    @import "modules/form";
    @import "modules/button";
    @import "modules/comment";
    @import "modules/post-comment-form";
    @import "modules/progress-circular";
    @import "modules/message";
    
    font-family: Arial;
    line-height: 1.2;
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2
    * {
        box-sizing: border-box;
    }
    .csui-left {
        float: left;
    }
    .csui-right {
        float: right;
    }
    .csui-hidden {
        display: none;
    }
}