@import "icons"; // imports css provided exactly as fontello generates based on fontello.json config file
@import "icons_custom";
@import "variables";
@import "mixins";
@import "modules/modal";

.csui {
    @import "modules/normalize";
    @import "modules/form";
    @import "modules/button";
    @import "modules/comment";
    @import "modules/post-comment-form";
    @import "modules/progress-circular";
    @import "modules/message";
    
    font-family: Arial;
    line-height: 1.2;
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2
    * {
        box-sizing: border-box;
    }
    .csui-left {
        float: left;
    }
    .csui-right {
        float: right;
    }
    .csui-hidden {
        display: none;
    }
    [hidden] {
        display: none !important;
    }
    .csui-avatar {
        border-radius: 50%;
        display: inline-block;
        height: $avatar-height;
        position: relative;
        width: $avatar-height;
        &.csui-avatar-bg-1 {
            background: #ff9f9f;
        }
        &.csui-avatar-bg-2 {
            background: #abe8b6;
        }
        &.csui-avatar-bg-3 {
            background: #9ae0ff;
        }
        &.csui-avatar-bg-4 {
            background: #f7c5ff;
        }
        &.csui-avatar-bg-5 {
            background: #ff8057;
        }
        .csui-avatar-characters {
            color: #FFF;
            font-size: 12px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}