
.csui-form-group {
    margin: 0 0 20px 0;
}

input{
    &.csui-form-control {
        max-width: 350px;
        width: 100%;
    }
}

input[type="text"],
input[type="password"],
textarea {
    &.csui-form-control {
        border: 1px solid $form-control-border-color;
        padding: 10px 5px;
    }
}

textarea {
    &.csui-form-control {
        border-radius: 5px;
        border-width: 2px;
    }
}
