
.csui-form-group {
    margin: 0 0 20px 0;
}

input{
    &.csui-form-control {
        max-width: 350px;
        width: 100%;
    }
}

input[type="text"],
input[type="password"] {
    &.csui-form-control {
        padding: 10px 5px;
    }
}