.csui-modal-open {
    &, body {
        overflow: hidden;
    }
}

.csui-modal {
    opacity: 0;
    transition: .2s opacity;
    visibility: hidden;
}
.csui-modal.ReactModal__Overlay--after-open {
    opacity: 1;
    visibility: visible;
}

/* overlay styles */
.csui-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

/* content box styles */
.csui-modal .ReactModal__Content {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    left: 50%;
    line-height: 1.2;
    max-height: 100%;
    overflow: auto;
    outline: none;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-overflow-scrolling: touch;
}

.csui-modal-login {
    max-width: 350px;
    text-align: center;
    width: 100%;
}

/* content elements styles */
.csui-modal {
    .csui-modal-title {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
}
