
.csui-post-comment-form {
    padding: 10px 0;
    textarea, button[type="submit"]  {
        display: block;
    }
    textarea {
        padding: 10px;
    }
    button[type="submit"] {
        margin-top: 10px;
    }
}
